# Pandas

### Creating a dataframe

**From a dictionary**

In [1]:
import pandas as pd
# Create a dictionary containing the data
data = {'Marks':[99, 98, 95, 94,90,88],
        'Name':['Tom', 'Jack', 'nick', 'juli','peter','paul']}

# Create a pd DataFrame. 
df = pd.DataFrame(data) 
  
# print the dataframe
df

   Marks   Name
0     99    Tom
1     98   Jack
2     95   nick
3     94   juli
4     90  peter
5     88   paul

**From a list of dictionaries**

In [2]:
data = [{"mark":99,"name":"john"},{"mark":90,"name":"peter"},{"mark":90,"name":"peter"}]
df = pd.DataFrame(data)
df

   mark   name
0    99   john
1    90  peter
2    90  peter

**From a list of lists**

In [3]:
data = [['John','Darwin'],['Peter','Cooper']]
df = pd.DataFrame(data, columns =['First Name', 'Last Name'])
df

  First Name Last Name
0       John    Darwin
1      Peter    Cooper

**From arrays**

In [4]:
import numpy as np
import pandas as pd

# Creating a 2 dimensional numpy array
data = np.array([[5.8, 2.8], [6.0, 2.2]])
print(data)

# Creating pandas dataframe from numpy array
adf = pd.DataFrame({'Column1': data[:, 0], 'Column2': data[:, 1]})
print(adf)

[[5.8 2.8]
 [6.  2.2]]
   Column1  Column2
0      5.8      2.8
1      6.0      2.2

**From a Pandas Series**

In [5]:
s = pd.Series(["a", "b", "c"],
              name="vals")
s.to_frame()

  vals
0    a
1    b
2    c

**Specify cells, index and headers**

In [6]:
# Specify the content of a cell
abcdf = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30]], index=[4, 5, 6], columns=['A', 'B', 'C'])
abcdf

    A   B   C
4   0   2   3
5   0   4   1
6  10  20  30

**Get the content of a cell**

In [7]:
abcdf.at[4, 'B']

2

**Changing the content of a cell**

In [8]:
abcdf.at[4, 'B'] = 3
abcdf

    A   B   C
4   0   3   3
5   0   4   1
6  10  20  30

**From a csv file**

In [9]:
import pandas as pd
# Create a dataframe from a csv file
food_df = pd.read_csv("data/food.csv", sep = ",")


# Print out the top **From a csv file**5 rows
food_df.head()

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
0,Cows' milk,1 qt.,976,660,32,40,36,0,48,Dairy products
1,Milk skim,1 qt.,984,360,36,t,t,0,52,Dairy products
2,Buttermilk,1 cup,246,127,9,5,4,0,13,Dairy products
3,"Evaporated, undiluted",1 cup,252,345,16,20,18,0,24,Dairy products
4,Fortified milk,6 cups,"1,419","1,373",89,42,23,1.4,119,Dairy products

**From a json file**

In [10]:
import pandas as pd
eli5df = pd.read_json('data/eli5.json')
eli5df.head()

,question,author_name,date,flair,answers
0,"ELI5: They said ""the water doesn't have an exp...",natefigs1,2020-02-23,Chemistry,"[{'date': '19/02/20', 'score': 14100, 'text': ..."
1,ELI5: Can a soap be dirty? In a sense that the...,RetardedmammalGG,2020-02-23,Chemistry,"[{'date': '16/02/20', 'score': 9600, 'text': '..."
2,ELI5 Why is it that Oreos get soggy in regular...,barefootess,2020-02-23,Chemistry,"[{'date': '04/02/20', 'score': 6900, 'text': '..."
3,ELI5: How is that Alcohol 70% is better than A...,pixie_laluna,2020-02-23,Chemistry,"[{'date': '24/01/20', 'score': 18100, 'text': ..."
4,ELI5: How do whipped cream containers work?,BananaBob55,2020-02-23,Chemistry,"[{'date': '24/01/20', 'score': 4000, 'text': '..."

## Inspecting a dataframe

**Number of rows and columns**

In [11]:
# How many rows and columns ?
rows, cols = food_df.shape
print("There are %d rows and %d columns"%(rows,cols))

There are 335 rows and 10 columns

In [12]:
#View the number of rows
df.index

RangeIndex(start=0, stop=2, step=1)

**Headers**

In [13]:
# View the headers
eli5df.columns

Index(['question', 'author_name', 'date', 'flair', 'answers'], dtype='object')

**Dispersion statistics**

In [14]:
# Get Dispersion Statistics
food_df.describe()

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
count,335,335,335,334,335,335,333,335,335,335
unique,329,61,103,152,40,45,38,57,80,16
top,Butter,1 cup,100,100,1,t,0,0,0,"Breads, cereals, fastfood,grains"
freq,3,120,38,14,53,115,174,116,45,45

**Checking for NULLs**

In [15]:
# Get the number of nulls for each columns
food_df.isnull().sum(axis = 0)

Food        0
Measure     0
Grams       0
Calories    1
Protein     0
Fat         0
Sat.Fat     2
Fiber       0
Carbs       0
Category    0
dtype: int64

## Creating subframes

**Extracting a column**

In [16]:
# Retrieve a column (first 5 rows)
eli5df['question'].head()

0    ELI5: They said "the water doesn't have an exp...
1    ELI5: Can a soap be dirty? In a sense that the...
2    ELI5 Why is it that Oreos get soggy in regular...
3    ELI5: How is that Alcohol 70% is better than A...
4          ELI5: How do whipped cream containers work?
Name: question, dtype: object

**Converting a column to a list**

In [17]:
# eli5df['question'].tolist()

**Extracting multiple columns**

In [18]:
# Retrieve multiple columns (
eli5df[['question','author_name']].head()

                                            question       author_name
0  ELI5: They said "the water doesn't have an exp...         natefigs1
1  ELI5: Can a soap be dirty? In a sense that the...  RetardedmammalGG
2  ELI5 Why is it that Oreos get soggy in regular...       barefootess
3  ELI5: How is that Alcohol 70% is better than A...      pixie_laluna
4        ELI5: How do whipped cream containers work?       BananaBob55

**Extracting a row**

In [19]:
# Retrieve row
eli5df.loc[1]

question       ELI5: Can a soap be dirty? In a sense that the...
author_name                                     RetardedmammalGG
date                                         2020-02-23 00:00:00
flair                                                  Chemistry
answers        [{'date': '16/02/20', 'score': 9600, 'text': '...
Name: 1, dtype: object

**Extracting multiple rows**

In [20]:
# Retrieve multiple rows
eli5df.loc[1:2]

,question,author_name,date,flair,answers
1,ELI5: Can a soap be dirty? In a sense that the...,RetardedmammalGG,2020-02-23,Chemistry,"[{'date': '16/02/20', 'score': 9600, 'text': '..."
2,ELI5 Why is it that Oreos get soggy in regular...,barefootess,2020-02-23,Chemistry,"[{'date': '04/02/20', 'score': 6900, 'text': '..."

**Dropping some columns**

In [21]:
# Creating a new frame by dropping some columns
X = eli5df.drop(['question','author_name'], axis = 1)
X.head()

        date      flair                                            answers
0 2020-02-23  Chemistry  [{'date': '19/02/20', 'score': 14100, 'text': ...
1 2020-02-23  Chemistry  [{'date': '16/02/20', 'score': 9600, 'text': '...
2 2020-02-23  Chemistry  [{'date': '04/02/20', 'score': 6900, 'text': '...
3 2020-02-23  Chemistry  [{'date': '24/01/20', 'score': 18100, 'text': ...
4 2020-02-23  Chemistry  [{'date': '24/01/20', 'score': 4000, 'text': '...

## Modifying  a dataframe

**Retrieve a subframe that satisfies a condition**

In [22]:
# Retrieve a subframe that satisfies a condition
eli5df.head()
eli5df[eli5df["flair"] == "Physics"]

,question,author_name,date,flair,answers
200,ELI5 How do direction work in space because no...,yashpatil__,2020-02-23,Physics,"[{'date': '23/02/20', 'score': None, 'text': '..."
201,ELI5: Why does sleeping in a car feel differen...,lmaoyeahh2,2020-02-23,Physics,"[{'date': '19/02/20', 'score': None, 'text': '..."
202,"ELI5: Why is it, when you try to wipe away dro...",alloftheabove12,2020-02-23,Physics,"[{'date': '14/02/20', 'score': None, 'text': N..."
203,ELI5: If the notion that electrons orbit aroun...,DUIofPussy,2020-02-23,Physics,"[{'date': '24/01/20', 'score': 4500, 'text': '..."
204,ELI5: Radiocarbon dating is based on the half-...,KevinMcAlisterAtHome,2020-02-23,Physics,"[{'date': '24/01/20', 'score': 2200, 'text': '..."
...,...,...,...,...,...
295,ELI5: How do counterweights on construction cr...,PDWAMMO,2020-02-23,Physics,"[{'date': '02/02/20', 'score': 8, 'text': 'Som..."
296,ELI5: How does radiation work? Why is it good ...,curiousfrosty,2020-02-23,Physics,"[{'date': '13/02/20', 'score': 8, 'text': 'Rad..."
297,ELI5: What does „Star collapses under its own ...,Copywithoutexample,2020-02-23,Physics,"[{'date': '19/02/20', 'score': 6, 'text': 'The..."
298,ELI5: Is the universe actually expanding and g...,phyllislis,2020-02-23,Physics,"[{'date': '24/01/20', 'score': 13, 'text': 'Th..."
299,ELI5: How does the end of a whip travel faster...,BigRedCowboy,2020-02-23,Physics,"[{'date': '05/02/20', 'score': 12, 'text': 'So..."

**Shuffling a pandas frame**

In [23]:
eli5df

,question,author_name,date,flair,answers
0,"ELI5: They said ""the water doesn't have an exp...",natefigs1,2020-02-23,Chemistry,"[{'date': '19/02/20', 'score': 14100, 'text': ..."
1,ELI5: Can a soap be dirty? In a sense that the...,RetardedmammalGG,2020-02-23,Chemistry,"[{'date': '16/02/20', 'score': 9600, 'text': '..."
2,ELI5 Why is it that Oreos get soggy in regular...,barefootess,2020-02-23,Chemistry,"[{'date': '04/02/20', 'score': 6900, 'text': '..."
3,ELI5: How is that Alcohol 70% is better than A...,pixie_laluna,2020-02-23,Chemistry,"[{'date': '24/01/20', 'score': 18100, 'text': ..."
4,ELI5: How do whipped cream containers work?,BananaBob55,2020-02-23,Chemistry,"[{'date': '24/01/20', 'score': 4000, 'text': '..."
...,...,...,...,...,...
295,ELI5: How do counterweights on construction cr...,PDWAMMO,2020-02-23,Physics,"[{'date': '02/02/20', 'score': 8, 'text': 'Som..."
296,ELI5: How does radiation work? Why is it good ...,curiousfrosty,2020-02-23,Physics,"[{'date': '13/02/20', 'score': 8, 'text': 'Rad..."
297,ELI5: What does „Star collapses under its own ...,Copywithoutexample,2020-02-23,Physics,"[{'date': '19/02/20', 'score': 6, 'text': 'The..."
298,ELI5: Is the universe actually expanding and g...,phyllislis,2020-02-23,Physics,"[{'date': '24/01/20', 'score': 13, 'text': 'Th..."
299,ELI5: How does the end of a whip travel faster...,BigRedCowboy,2020-02-23,Physics,"[{'date': '05/02/20', 'score': 12, 'text': 'So..."

In [24]:
from sklearn.utils import shuffle
df = shuffle(X)
df.head()

          date      flair                                            answers
171 2020-02-23      Other  [{'date': '12/02/20', 'score': 2, 'text': 'Is ...
4   2020-02-23  Chemistry  [{'date': '24/01/20', 'score': 4000, 'text': '...
183 2020-02-23      Other  [{'date': '07/02/20', 'score': 14, 'text': 'Th...
39  2020-02-23  Chemistry  [{'date': '14/02/20', 'score': 11, 'text': 'Fo...
165 2020-02-23      Other  [{'date': '16/02/20', 'score': 18, 'text': 'Me...

**Applying a function to a column**

In [25]:
# Applying a function to a column
def list_len(string):
    return len(string.split(' '))
    
eli5df["question"].apply(list_len).head()

0    26
1    18
2    15
3    14
4     7
Name: question, dtype: int64

**Getting the type of a column**

In [26]:
eli5df["question"].dtypes

dtype('O')

**Concatenating two frames**

In [27]:
Q = eli5df["question"]
Qcounts = eli5df["question"].apply(list_len)
C = pd.Series(Qcounts,name="Headers")
newdf = pd.concat([Q,C],axis = 1)
newdf

                                              question  Headers
0    ELI5: They said "the water doesn't have an exp...       26
1    ELI5: Can a soap be dirty? In a sense that the...       18
2    ELI5 Why is it that Oreos get soggy in regular...       15
3    ELI5: How is that Alcohol 70% is better than A...       14
4          ELI5: How do whipped cream containers work?        7
..                                                 ...      ...
295  ELI5: How do counterweights on construction cr...       15
296  ELI5: How does radiation work? Why is it good ...       17
297  ELI5: What does „Star collapses under its own ...       14
298  ELI5: Is the universe actually expanding and g...       35
299  ELI5: How does the end of a whip travel faster...       22

[300 rows x 2 columns]

**Extracting all text from a colum**

In [28]:
import pandas as pd
data = {'Family_Name':["de la porte", "brown", "van de Berg", "Pater","Caret","Starlet"]}

# Create a pd DataFrame. 
df = pd.DataFrame(data) 
  
# print the dataframe
df
df['Family_Name'].str.cat(sep=" ")

'de la porte brown van de Berg Pater Caret Starlet'

**Handling Columns with List values**

In [29]:
data = {'Marks':[99, 98, 95],
        'Name':[['Tom', 'Jack'], ['nick'], ['juli','peter','paul']]}

# Create a pd DataFrame. 
df = pd.DataFrame(data) 
df.head()

   Marks                 Name
0     99          [Tom, Jack]
1     98               [nick]
2     95  [juli, peter, paul]

In [30]:
df.index
l = []
for i in range(df.shape[0]):
    print(df["Name"][i])
    l = l+(df["Name"][i])
l

['Tom', 'Jack']
['nick']
['juli', 'peter', 'paul']

['Tom', 'Jack', 'nick', 'juli', 'peter', 'paul']

**Get the size of each group**

For each value in a  colum, get the number of rows having that value

In [31]:
# size of each group
print(df.groupby('Marks').size())

Marks
95    1
98    1
99    1
dtype: int64

## Exporting a dataframe to a file

In [32]:
# to a csv file
df.to_csv('file_name.csv', encoding='utf-8')

In [33]:
# to an excel file
# install with '''python -m pip install openpyxl'''
df.to_excel('file_name.xlsx', encoding='utf-8')

In [ ]:
# Iterating over one column - `f` is some function that processes your data
result = [f(x) for x in df['col']]
# Iterating over two columns, use `zip`
result = [f(x, y) for x, y in zip(df['col1'], df['col2'])]
# Iterating over multiple columns - same data type
result = [f(row[0], ..., row[n]) for row in df[['col1', ...,'coln']].to_numpy()]
# Iterating over multiple columns - differing data type
result = [f(row[0], ..., row[n]) for row in zip(df['col1'], ..., df['coln'])]